.home-main {
    text-align: center;
}

.home-main h1 {
    animation: color-change 1s infinite;
}

@keyframes color-change {
    0% { color: rgb(202, 235, 187); }
    50% { color: rgb(160, 160, 228); }
    100% { color: rgb(221, 155, 155); }
}

.cards {
    display: flex;
    justify-content: space-evenly;
}